* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 75px;
}

body {
	background-image: url('./images/BG.png');
	background-position: center;
	background-size: cover;

	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	padding: 20px;
	border-bottom: 2px solid green;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px 2px green;
	font-weight: 700;
	font-size: 34px;
	text-align: center;
}

/* Description */
.description {
	padding: 20px;
	margin-top: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}
.description_heading {
	color: yellow;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}
.description_container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;
}
.description_container-item {
	display: flex;
	align-items: center;
}
.description_container-item img {
	display: block;
	width: 30px;
	margin-right: 10px;
}
.description_container-item p {
	font-size: 20px;
	font-weight: 700;
}

/* Casino Cards */
.casino {
	margin-top: 20px;
	display: flex;
}
.casino_card {
	width: 480px;
	height: 300px;
	margin: 20px auto;
	border: 2px solid green;
	border-radius: 8px;
	box-shadow: 0 0 6px 2px green;
	background-color: rgba(0, 0, 0, 0.7);
}
.casino_card-left {
	width: 30%;
}
.casino_card-right {
	width: 70%;
}
.casino_card-logo {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
}
.casino_card-logo img {
	width: 100%;
}

/* Guarantee */
.guarantee {
	margin: 10px;
	padding: 20px 20px 40px;
	border: 2px solid green;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 6px 2px green;
}
.guarantee_heading {
	padding: 10px 0;
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0)
	);
}
.guarantee_text {
	margin-top: 15px;
	font-size: 18px;
}
.guarantee_sponsors {
	margin: 40px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
